.banners {
    align-items: center;
    display: flex;
    padding-top: 9.7rem;
    overflow: hidden;
}

.banner-slider {
    display: flex;
    position: relative;
}

.banner-slider_item {
    flex-shrink: 0;
    margin: 0 2rem 3rem;
    width: 90vw;
}

.banner-slider_link {
    display: block;
    position: relative;
}

.banner-slider_link::before {
    border: .3rem solid rgba(255, 255, 255, 0);
    border-radius: .5rem;
    content: '';
    position: absolute;
    inset: 0;
    transition: border .3s;

}

.banner-slider_link:hover::before {
    border-color: rgba(255, 255, 255, 0.7);
}


.banner-slider_cover {
    display: block;
    box-shadow: #000 0rem 1rem 2rem .1rem;
    width: 100%;
}

.banner-slider_title {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.banners .arrow-slider--left {
    left: 3.6rem;
    position: absolute;
    z-index: 2;

}

.banners .arrow-slider--right {
    right: 3.6rem;
    position: absolute;
    z-index: 2;

}

.banners .controls-slider {
    bottom: 4.6rem;
    right: 11.6rem;
}