@import url('./_fonts.css');
@import url('./_global.css');
@import url('./layout/__header.css');
@import url('./layout/__nav-menu.css');
@import url('./componetes/_logo.css');



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
}